.card{
    margin-top: 10px;
    border :none;
    width: 500px;
    padding:40px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform:translate(-50%,50%);
    background: hsla(205, 46%, 50%, 1);
    background: linear-gradient(90 deg, hsla(205, 46%, 33%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);

}
.card h1,h6{color: ivory;

}
label{
    color: ivory;
}